<p>
  <strong>Object:</strong>
  <%= @email.object %>
</p>
<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>
<!--
<div class="form">
  <%= form_tag(email_path, method: :delete, class: "form", remote: true, data: { confirm: 'Are you sure?' }) do %>
    <%= submit_tag 'Supprimer', :name => 'commit'%>
  <% end %>
</div>
<% if @email.read == true %>
  <div class="form">
    <%= form_tag(email_path, method: :patch, class: "form", remote: true) do %>
      <%= submit_tag 'Marquer comme non lu', :name => 'commit', :id => 'unread' %>
    <% end %>
  </div>
<%else%>
  <div class="form">
    <%= form_tag(email_path, method: :patch, class: "form", remote: true) do %>
      <%= submit_tag 'Marquer comme lu', :name => 'commit'%>
    <% end %>
  </div>
<% end %> -->


<a class="btn btn-danger" style="position:absolute;bottom:0; margin-bottom:15px" data-method="DELETE" data-remote="true" href="<%=email_path(email.id)%>">Supprimer</a>
<a id="unread" class="btn btn-primary" style="position:absolute;bottom:0; margin-left:120px;margin-bottom:15px" data-method="PUT" data-remote="true" href="<%=email_path(email.id)%>">Marquer comme non-lu</a>
